*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.todo-list__component{
    width: 30%;
    padding: 2em;
    background-color: rgb(247, 245, 245);
    border-radius: 2em;
    border: 1px;
    border-color: gray;
    border-style: double;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .2);
}

.todo-list__task-input{
    height: 2.5em;
    border: none;
    outline: none;
    width: calc(100% - 5em);
    border-radius: 1.25em 0 0 1.25em;
    text-align: center;
}

.todo-list__add-button{
    outline: none;
    color: white;
    background-color: rgb(90, 149, 255);
    border: none;
    height: 2.5em;
    width: 5em;
    border-radius: 0 1.25em 1.25em 0;
}