<div class="todo-list-container todo-list-container__item">
  <div class="todo-list-container__item-without-button">
    <input type="checkbox" [(ngModel)] = 'checkBox'>
    <div class="todo-list-container__item-without-button-task">
      <span class=".todo-list-container__item-without-button-task" [class.todo-list-container__item-without-button-task-done]="checkBox">
        {{items[i]}}
      </span>
    </div>
  </div>
  <button class="todo-list-container__button" (click) = "removeItem(i)">Delete</button>
</div>