.eighth-row__card {
    width: 100%;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card__socials {
    color: rgb(154, 154, 156);
    text-align: center;
}

.sprite__socials {
    color: rgb(154, 154, 156);
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.socials__icons {
    text-decoration: none;
    color: rgb(154, 154, 156);
}

.socials__icons:hover {
    color: #E4AE58;
}

.card-contact__text--temp:hover {
    color: black;
}

.third-row__card {
    padding-left: 20px;
    padding-right: 20px;
}
