* {
    padding: 0;
    margin: 0;
    font-size: 16px;

}

@font-face {
    src: url(./project/fonts/text/SourceSansPro-Semibold.otf);
    font-family: SourceSansPro-semibold;
}

@font-face {
    src: url(./project/fonts/text/SourceSansPro-Light.otf);
    font-family: SourceSansPro-light;
}

.text-semibold {
    font-family: SourceSansPro-semibold;
}

.text-light {
    font-family: SourceSansPro-light;
}

.home-card__text {
    font-size: 1em;
    margin-top: 4%;
    margin-left: 30%;
    text-shadow: 1px 1px 0 white;
}

.displaying-type-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.first-row__card {
    width: 50%;
    height: 56vw;
}

.home-card__image {
    background-image: url(./project/images/home-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.first-row__card--greetting {
    background-color: rgb(240, 226, 215);
}

.nav__container {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 40%;
    margin-left: 50%;
}

.nav__center {
    position: absolute;;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2%;
}

.link-text {
    text-decoration: none;
    color: rgb(101, 116, 131);
}

.link-text:hover {
    color: rgb(236, 209, 142);
}

.text-light--upper-text {
    font-size: 1em;
    color: rgb(154, 154, 156);
    margin-bottom: 10px;
}

.text-semibold--hello {
    font-size: 1.4em;   
}

.text-light--hello {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.text-light--lorem {
    font-size: 1em;
    color: rgb(154, 154, 156);
    margin-bottom: 40px;
}

.six-row-card__proin {
    text-align: center;
}

.button {
    border: 2px;
    border-color: black;
    border-radius: 22px;
    border-style: solid;
    background-color: rgb(240, 226, 215);
}

.button:hover {
   border-color:  rgb(236, 209, 142);
   cursor: pointer;
}

.button__start {
    padding: 14px 37px;
}

.button__start:hover {
    color: rgb(236, 209, 142);
}

.nav-card__content-box {
    margin-left: 40px;   
    margin-right: 40px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-card__displaying {
    display: flex;
    align-items: center;
}

.donec__content-box {
    margin-left: 40px;
    margin-right: 40px;
}

.card__donec {
    width: 50%;
    display: flex;
    align-items: center;
}

.text-light--big {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.text-light--sed {
    font-size: 1em;
    color: rgb(236, 209, 142);
    margin-bottom: 20px;
}

.text-light--phasselus {
    font-size: 1em;
    margin-bottom: 10px;
}

.text-light--Quisque {
    font-size: 1em;
}

.card__about-img {
    background-image: url(./project/images/about-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.second-row__card-about {
    width: 25%;
    height: 22vw; 
}

.card__my-skills {
    background-color: #E4AE58;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-light--My-skills {
    font-size: 2.5em;
    color: white;
    margin-bottom: 10px;
}

.text-light--skills-list {
    font-size: 1em;
    color: white;
}

.white__stripe {
    background-color: white;
    height: 3px;
    width: 100%;
}

.black-stripe__fe {
    background-color: black;
    height: 3px;
    width: 90%;
}

.fe__mesure-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9em;
}

.black-stripe__be {
    background-color: black;
    height: 3px;
    width: 70%;
}

.black-stripe__html {
    background-color: black;
    height: 3px;
    width: 80%;
}

.my-skills__content-box {
    width: 80%;
}

.fe__mesure-text {
    margin-top: 15px;
}

.fe__mesure-text--persent {
    color: white;
}

.fe__mesure-text--margin{
    margin-top: 40px;
}

.third-row__card {
    width: 25%;
    height: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.third-row__card--yellow {
    background-color: #E4AE58;
    color: white;
}

.third-row__card--red {
    background-color: #E9714C;
    color: white;
}

.third-row__card--black {
    background-color: black;
    color: white;
}

.third-row__card--title {
    font-size: 1.8em;
    padding-top: 10px;
    margin: 20px;

}

.third-row__card--text {
    text-align: center;
    padding-top: 10px;
}

.fa {
    color: white;
}

.fourth-row__card {
    width: 50%;
    height: 30vw;
}

.fourth-row__card-experiences-img {
    background-image: url(./project/images/experience-img.jpg);
    background-position: center;
    background-size: cover;
}

.fourth-row__card-experiences--red {
    background-color: #E9714C;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fourth-row__card-red--white {
    color: white;
}

.fourth-row__card-red__container {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.fourth-row__card-red--big {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.fourth-row__card-red {
    font-size: 1em;
}

.fourth-row__card-red-exp {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.text-semibold--middle {
    font-size: 1.4em;

}

.fourth-row__card-red-exp {
    font-size: 1em;
    color: white;
}

.text-light--xtra-small {
    color: black;
    margin-left: 5px;
}

.text-light--xtra-small--white {
    margin-top: 15px;
}

.card-red__logo-spaceing {
    padding-top: 5px;
    padding-right: 40px;
}

.fifth-row__card-experiences-img {
    background-image: url(./project/images/education-img.jpg);
    background-position: center;
    background-size: cover;
}

.fifth-row__card {
    width: 50%;
    height: 30vw;
}

.fifth-row__card-experiences--red {
    background-color: #E4AE58;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.six-row__card {
    width: 100%;
    height: 30vw;
    background-image: url(./project/images/quotes-bg.jpg);
    background-size: cover;
    background-position: center;
}

.six-row-card_black-shadow {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.six-row-card__content-box {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
}

.six-row-card__curabitur {
    padding-top: 30px;
    text-align: center;
}

.seventh-row__card-img {
    width: 25%;
    height: 40vw;
    background-image: url(./project/images/contact-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.seventh-row__card-form {
    width: 50%;
    height: 40vw;
    background-color: #E9714C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seventh-row__card-contact {
    width: 25%;
    height: 40vw;
    background-color: black;
    
}

.form__small-input {
    width: 100%;
    margin-top: 30px;
    background-color: #E9714C;
    border-style: none;
    border-bottom: #E4AE58 1px solid;
    color: white;
}

.form__small-input::placeholder {
    color: white;
}

.form__content-box {
    width: 80%;
}

.form__button {
    border: none;
    border-radius: 22px;
    border-style: none;
    background-color: rgb(240, 226, 215);
    margin-top: 40px;
}

.button__send {
    display: block;
    padding: 12px 100px;
    font-size: 1em;
}

.button__send:hover {
    color: rgb(236, 209, 142);
}

.card-contact__content-box {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5%;

}

.card-contact__text-visit {
    color: white;
    font-size: 2.5em;
}

.card-contact__text-street {
    color: rgb(154, 154, 156);
    font-size: 1em;
    padding-top: 14px;
}

.card-contact__text-contact {
    color: white;
    font-size: 2.5em;
    margin-top: 30px;
    
}

.card-contact__text-ph-number {
    color: rgb(154, 154, 156);
    font-size: 1em;
    padding-top: 14px;
    text-decoration: none;
}

.fa-globe-asia {
    margin-right: 10px;
    color: rgb(154, 154, 156);
}

.card-contact__text-email {
    color: #E4AE58;
    font-size: 1em;
    padding-top: 14px;
    text-decoration: none;
}   

.fa-envelope {
    margin-right: 10px;
    color: rgb(154, 154, 156);
}

.fa-phone {
    margin-right: 10px;
    color: rgb(154, 154, 156);
    
}

.eighth-row__card {
    width: 100%;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card__socials {
    color: rgb(154, 154, 156);
    text-align: center;
}

.sprite__socials {
    color: rgb(154, 154, 156);
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.socials__icons {
    text-decoration: none;
    color: rgb(154, 154, 156);
}

.socials__icons:hover {
    color: #E4AE58;
}

.card-contact__text--temp:hover {
    color: black;
}

.third-row__card {
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    display: none;
}